@font-face {
    font-family: 'Neue Montreal';
    src: url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-BoldItalic.eot');
    src: url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-BoldItalic.woff2') format('woff2'),
        url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-BoldItalic.woff') format('woff'),
        url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-BoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-Italic.eot');
    src: url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-Italic.eot?#iefix') format('embedded-opentype'),
        url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-Italic.woff2') format('woff2'),
        url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-Italic.woff') format('woff'),
        url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-Regular.eot');
    src: url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-Regular.woff2') format('woff2'),
        url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-Regular.woff') format('woff'),
        url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-Light.eot');
    src: url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-Light.eot?#iefix') format('embedded-opentype'),
        url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-Light.woff2') format('woff2'),
        url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-Light.woff') format('woff'),
        url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-MediumItalic.eot');
    src: url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-MediumItalic.woff2') format('woff2'),
        url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-MediumItalic.woff') format('woff'),
        url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-Bold.eot');
    src: url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-Bold.woff2') format('woff2'),
        url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-Bold.woff') format('woff'),
        url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-LightItalic.eot');
    src: url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-LightItalic.woff2') format('woff2'),
        url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-LightItalic.woff') format('woff'),
        url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-Medium.eot');
    src: url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-Medium.woff2') format('woff2'),
        url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-Medium.woff') format('woff'),
        url('https://damienmillard.net/fonts/neue-montreal-web/NeueMontreal-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

