@font-face {
    font-family: 'Segoe UI';
    src:
        local("Segoe UI Light"),
        url('https://damienmillard.net/fonts/Segoe_UI/SegoeUI-Light.woff2') format("woff2"),
        url('https://damienmillard.net/fonts/Segoe_UI/SegoeUI-Light.woff') format("woff"),
        url('https://damienmillard.net/fonts/Segoe_UI/SegoeUI-Light.ttf') format("truetype");
    font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src:
        local('Segoe UI Semilight'),
        url('https://damienmillard.net/fonts/Segoe_UI/SegoeUI-Light.woff2') format("woff2"),
        url('https://damienmillard.net/fonts/Segoe_UI/SegoeUI-Light.woff') format("woff"),
        url('https://damienmillard.net/fonts/Segoe_UI/SegoeUI-Light.ttf') format("truetype");
    font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src:
        local('Segoe UI'),
        url('https://damienmillard.net/fonts/Segoe_UI/SegoeUI.woff2') format("woff2"),
        url('https://damienmillard.net/fonts/Segoe_UI/SegoeUI.woff') format("woff"),
        url('https://damienmillard.net/fonts/Segoe_UI/SegoeUI.ttf') format("truetype");
    font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src:
        local('Segoe UI Bold'),
        url('https://damienmillard.net/fonts/Segoe_UI/SegoeUI-Bold.woff2') format("woff2"),
        url('https://damienmillard.net/fonts/Segoe_UI/SegoeUI-Bold.woff') format("woff"),
        url('https://damienmillard.net/fonts/Segoe_UI/SegoeUI-Bold.ttf') format("truetype");
    font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src:
        local('Segoe UI Semibold'),
        url('https://damienmillard.net/fonts/Segoe_UI/SegoeUI-SemiBold.woff2') format("woff2"),
        url('https://damienmillard.net/fonts/Segoe_UI/SegoeUI-SemiBold.woff') format("woff"),
        url('https://damienmillard.net/fonts/Segoe_UI/SegoeUI-SemiBold.ttf') format("truetype");
    font-weight: 700;
	font-style: normal;
	font-display: swap;
}